<nav>
  <a href="/">Home</a>

  {% if user.is_authenticated %}
    <span>Hi {{ user.username }}</span>
    <a href="{% url 'routing_workspace:workspace' %}">Preinspection</a>
    <a href="{% url 'livefire:dashboard' %}">Live Fire Planner</a>
    {% if user.is_staff %}
      <a href="{% url 'tax_delinquency_dashboard' %}">Tax delinquency</a>
      <a href="{% url 'opportunity_dashboard' %}">Opportunity</a>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
</nav>
